.gallery-section {
  width: 100%;
  padding: 4rem 2rem;
  margin-top: var(--header-height);
  overflow-x: clip;
}

.gallery-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
}

.gallery-section-header .header-label {
  display: inline-flex;
  justify-content: center;
}

.gallery-media-container {
  width: 100%;
  display: flex;
  gap: 15rem;
  justify-content: center;
  margin-top: 10rem;
}

.gallery-media-container .col {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  will-change: transform;
}

.col-2 {
  margin-top: 12rem;
}

.gallery-media-container .col .gallery-media-img {
  position: relative;
  aspect-ratio: 1/1;
  width: 15rem;
  height: auto;
  overflow: hidden;
}

.gallery-media-container .col .gallery-media-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
